@font-face {
    font-family: 'TTLakes-Thin';
    src: url('TTLakes-Thin.woff') 
    }
* {
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: 'TTLakes-Thin', Arial, sans-serif;
}
button {border: none;background-color: #ffffff;cursor: pointer;transform: scale(1);transition-duration: 0.5s;}
button:hover {transform: scale(0.95);transition-duration: 0.5s;filter: Grayscale(0.3);}
button:active {transform: scale(1.10);transition-duration: 0.5s;}
.face { flex-grow: 1;overflow-x: scroll;}
.header {
  display: flex;
  background: #ffffff;
  border-bottom: 1px solid #D9FFF5;
  justify-content: space-between;
  padding: 20px;
}
.header-left {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.header-right {
  display: flex;
  justify-content: space-around;
}
.titleall {
  padding: 30px 20px 0 0;
  display: flex;
  font-weight: 700;
  font-size: 14px;
}
.title {display: flex;align-items: center;}
.highlight{margin-right: 10px;}
.nav {
  white-space: nowrap;
  padding: 30px 0 0 20px;
}
.slide {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.slide__option {
  display: block;
  color: #7E7E82;
  font-size: 16px;
  padding: 8px 18px 8px 18px;
}
.slide__option--active:nth-child(2n) { 
 border: 2px solid #B8FFEC;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #ffffff;
}
.textbox {
font-size: 14px;
font-weight: 400;
letter-spacing: 0.2px;
}
.readmoreblock {
display: flex;
align-items: center;
padding: 15px 0 0 0;
width: 132px;
justify-content: space-between;}  
    .aside {
    position: fixed;
    min-height: 100vh;
    background-color: #ffffff;
    width: 320px;
    transform: translateX(-320Px);
    } 
    .aside-header {
    box-sizing: border-box;
    width: 320px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .aside-header_left {
    width: 155px;
    display: flex;
    justify-content: space-between;
    }
    .aside-main {display: flex; flex-direction: column;height: 90vh;justify-content: space-between}
    .moblist {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    }
    .moblist-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
    height: 35px;
    padding-bottom: 14px;
    }
    .moblist-item:not(:first-child) {
    padding-left: 17px;
    width: 175px;
    }
    .moblist-item__active {
    display: flex;align-items: center;justify-content: space-between;width: 135px;}
    .info {bottom: 20px;}
    .info-up {
    width: 200px;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 17px;
    }
    .info-up__buttons {
    width: 160px;
    display: flex;
    justify-content: space-between;
    }
    .info-mail {
    font-size: 16px;
    font-weight: 500; 
    }
    .info-phone {
    font-size: 24px;
    font-weight: 700;  
    }
    .info-down { 
    width: 80px;
    height: 50px;
    padding-left: 17px;  
    }
    .info-down__lang {
    display: flex;
    justify-content: space-between
    }
    .lang-ru {color: #7E7E82;} 
@media screen and (max-width: 329px) {.aside, .face {display: none;}}
@media screen and (min-width: 320px) and (max-width: 767px) {
.call, .chat, .profile, .divider, .burger2, .search, .mobnav, .info, .aside, .header-rightside, .slide__option:nth-of-type(1), .textbox__content1, .textbox__content2   {display: none;}
.header-right {width: 110px;}
.main {height: 508px;}
.nav {max-width: 100vw;}
.slide {width: 100vw;}
.infogroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.textbox {
  height: 90px;
  padding-left: 10px;
  padding-right: 12px;
}
.readmoreblock {margin-top: 10px;}
.foto {width: 100%;}
.copy {width: 100%;}
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
.slide__option:nth-of-type(1), .textbox__content2, .header-rightside,.repairleft, .checkstatusleft, .search {display: none;}   
.body {display: flex;}
/* .face {margin-left: 320px;} */
.burger {order: -2;}
.divider2 {order: -1;}
.header-right {width: 320px;}
.header {padding: 20px;}
.slide {width: 100vw;}
.infogroup {
  display: flex;
  align-items: start;
  justify-content: space-between; 
  padding: 30px 20px 0 20px;          
}
.first-block {width: 42vw;}
.copy {
width: 35vw;
border-radius: 10px; 
}
.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 14px;
    margin-left: 30px;
    padding-top: 17px;
}
.brands-item__off {visibility: hidden;} 
}
@media screen and (min-width: 1121px) {
.header, .burger, .divider2, .repairleft, .checkstatusleft, .call, .chat, .profile, .divider, .repair, .checkstatus.burger2, .search, .textbox__content1   {display: none;}
/* .face {margin-left: 320px;} */
.titleall {justify-content: space-between;}
.header-rightside {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
}
.repairright, .checkstatusright {
  background-color: #f8f8f8;
   font-size: 14px;
   font-weight: 600;
   width: 160px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'TTLakes-Thin', Arial, sans-serif;
  }
.nav {height: 37px;}
.slide__option--active:nth-child(1n) { 
 border: 2px solid #B8FFEC;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #ffffff;
}
.slide__option--active:nth-child(2n) { 
 border: none;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #f8f8f8;
}
.infogroup {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
}
.first-block {width: 42vw;}
.foto {padding-right: 12px;}
.copy {
width: 35vw;
border-radius: 10px; 
}
.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 14px;
    margin-left: 30px;
    padding-top: 17px;
    
}
}
.container {display: flex; flex-direction: column;}
.newheader {height: 56px;border-top: 1px solid #D9FFF5;display: flex;align-items: center;background-image: linear-gradient(to right, #f8f8f8, #ffffff);}
.newtitle {font-weight: 400;font-size: 16px;line-height: 24px;letter-spacing: -0.2px;font-family: 'TTLakes-Thin', Arial, sans-serif;margin-left: 30px;}
.newmain {background-color: #f8f8f8;}
.brands-item {
    box-sizing: border-box;
    max-width: 100%;
    background-color: #ffffff;
    width: 240px;
    height: 72px;
    border-radius: 8px;
    border-color: #c5c5c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.brands-item__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #FF3E79;
    background-color: #ffffff;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.brands-item__hide.hidden {
 visibility: hidden;
}
.show-all.brands-item__hide {
 visibility: visible;   
}

.hide {
    display: flex;
    margin-left: 30px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
    padding-bottom: 20px;
}
.hide-text {font-weight: 500;font-size: 16px;line-height: 24px;letter-spacing: -0.2px;font-family: 'TTLakes-Thin', Arial, sans-serif;}


  

