@font-face {
    font-family: 'TTLakes-Thin';
    src: url('TTLakes-Thin.woff') 
    }
* {
  margin: 0;
  padding: 0;
}
button {border: none;background-color: #ffffff;cursor: pointer;transform: scale(1);transition-duration: 0.5s;}
button:hover {transform: scale(0.95);transition-duration: 0.5s;filter: Grayscale(0.3);}
button:active {transform: scale(1.10);transition-duration: 0.5s;}
.header {
  display: flex;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #D9FFF5;
  justify-content: space-between;
}
.header-left {
  width: 200px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}
.header-right {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
}
.main {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.titleall {
  height: 40px;
  display: flex;
  align-items: center;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.title {display: flex;align-items: center;}
.highlight{margin-right: 10px;}
.nav {
  overflow-x: hidden;
  white-space: nowrap;
}
.slide {
  display: flex;
  font-family: 'TTLakes-Thin' ,sans-serif;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.slide__option {
  display: block;
  color: #7E7E82;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 15px;
  margin-right: 15px;
}
.slide__option--active:nth-child(2n) { 
 border: 2px solid #B8FFEC;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #ffffff;
}
.textbox {
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.readmoreblock {
display: flex;font-size: 16px;font-family: 'TTLakes-Thin' ,sans-serif;font-weight: 500;}  
    .aside {
    width: 320px;
    position: relative;
    } 
.aside-header {
  box-sizing: border-box;
    width: 320px;
    padding-left: 17px;
    padding-top: 17px;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .header-left {
    width: 155px;
    display: flex;
    justify-content: space-between;
    }
    .aside-main {display: flex; flex-direction: column;height: 100vh;justify-content: space-between}
    .moblist {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'TTLakes-Thin' ,sans-serif;
    }
    .moblist-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #1B1C21;
    height: 35px;
    }
    .moblist-item:not(:first-child) {
    padding-left: 17px;
    width: 175px;
    }
    .moblist-item__active {
    display: flex;align-items: center;justify-content: space-between;width: 135px;
    }
    .info {
    width: 320px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .info-up {
    width: 200px;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 17px;
    }
    .info-up__buttons {
    width: 160px;
    display: flex;
    justify-content: space-between;
    }
    .info-mail {
    font-family: 'TTLakes-Thin' ,sans-serif; 
    font-size: 16px;
    font-weight: 500; 
    }
    .info-phone {
    font-family: 'TTLakes-Thin' ,sans-serif; 
    font-size: 24px;
    font-weight: 700;  
    }
    .info-down {
    font-family: 'TTLakes-Thin' ,sans-serif;   
    width: 80px;
    height: 50px;
    padding-left: 17px;  
    }
    .info-down__lang {
    display: flex;
    justify-content: space-between
    }
    .lang-ru {color: #7E7E82;} 
@media screen and (max-width: 329px) {.aside, .face {display: none;}}
@media screen and (min-width: 320px) and (max-width: 767px) {
.call, .chat, .profile, .divider, .burger2, .search, .mobnav, .info, .aside, .header-rightside, .slide__option:nth-of-type(1), .textbox__content1, .textbox__content2   {display: none;}
.header-right {width: 110px;}
.main {height: 508px;}
.nav {max-width: 780vw;}
.slide {width: 77vw;}
/* .slide__option:nth-child(5n),
.slide__option:nth-child(7n) {display: none;} */
.infogroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 322px;
}
.textbox {
  width: auto;
  height: 90px;
  padding-left: 10px;
  padding-right: 12px;
}
.readmoreblock {margin-top: 10px;}
.foto {
  width: 100%;
    height: auto;
    display: block;
}
.copy {
 width: 100%;
    height: auto;
    display: block;
}
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
.slide__option:nth-of-type(1), .textbox__content2, .header-rightside,.repairleft, .checkstatusleft {display: none;}   
.body {display: flex;}
.face { display: flex;flex-direction: column;}
.burger {order: -2;}
.divider2 {order: -1;}
.header-right {width: 320px;}
.main {height: 416px;}
.nav {max-width: 1120vw;}
.slide {width: 100vw;}
/* .slide__option:nth-child(5n),
.slide__option:nth-child(7n) {display: none;}           */
.infogroup {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 5px;
  height: 208px;            
}
.first-block {
  display: grid;
  place-content: start;
  padding-left: 12px;
}
.textbox {
  width: 312px;
  height: 160px;
}
  .foto {
  width: 360px;  
}
}
@media screen and (min-width: 1121px) {
.header, .aside, .burger, .logo, .divider2, .repairleft, .checkstatusleft, .call, .chat, .profile, .divider, .repair, .checkstatus.burger2, .search, .mobnav, .info, .textbox__content1   {display: none;}
.main {height: 535px;}
.titleall {justify-content: space-between;}
.header-rightside {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
  height: 40px;
}
.repairright, .checkstatusright {
   background-color: #f8f8f8;
   font-family: 'TTLakes-Thin' ,sans-serif;
   font-size: 14px;
   font-weight: 600;
   width: 160px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
.nav {
  display: flex;
  flex-wrap: nowrap;
  height: 82px;
}
.slide {width: 100vw;}
.slide__option--active:nth-child(1n) { 
 border: 2px solid #B8FFEC;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #ffffff;
}
.slide__option--active:nth-child(2n) { 
 border: none;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 6px;
 background-color: #f8f8f8;
}
/* .slide__option--desktophide {display: none;}
.slide__option--desktopview {margin-left: 31px;} */
.infogroup {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 5px;
}
.first-block {
  display: grid;
  place-content: start;
  padding-left: 12px;
}
.foto {
  padding-right: 12px;
}
.textbox {
  width: 490px;
  height: 160px;
  font-family: 'TTLakes-Thin' ,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.copy {
  width: 45vw;
  height: auto;
  border-radius: 10px;
}
}